
@font-face{
    font-family: 'Audiowide';
    src: url('../Fonts/Audiowide/Audiowide-Regular.ttf');
}

h1{
    font-size: 36px;
    font-family: 'Audiowide';
    line-height: 36px;
    padding-bottom: 20px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 16px;
}
a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 1px solid dodgerblue;
    text-align: center;
}
.paginador{
    display: flex;
    flex-direction: column;
    display: block;
}
header{
    background-color: dodgerblue;
    color: #fff;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.algoritmos{
    position: relative;
    text-align: center;
    padding: 20px;
}

.list_algoritmos{
    width: 70%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 20px;
    color: dodgerblue;
    margin: auto;
}

.javascript{
    position: relative;
    text-align: center;
    padding: 20px;
}

footer{
    background-color: dodgerblue;
    color: rgba(248, 248, 246, 0.6);
    height: 50px;
    text-align: center;
    padding: 20px;
}